.main {
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main h1{
	color: argent;
	font-family: Calisto MT;
	font-size: 30px;
}

.main P{
	color: white;
	font-family: Cambria;
	font-size: 15px;
	text-decoration: none;
}

.main .content .card{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.main .content .card .left {
	flex: 0 0 30%;
	padding: 30px;
	background-color:black;
	opacity: 0.8;
	color: white;
}

.main .content .card.right {
	flex: 0 0 70%;
}

.main .content .card img {
	height: 540px;
	width: 760px;
}

.main .card .left{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button{
	background-color: rgba(225,225,225, 0.8);
	color: black;
	padding: 10px 8px;
	font-family: Times;
	text-align: center;
	justify-content: center;
	justify-items: center;
	text-decoration: none;	
}

@media screen and (max-width: 800px){
	.main .card{
		margin: 10px;
	}

	.main .content .card .right img{
		height :200px;
		width : 100%;
		margin-top: 0px;
	}

	.main .content .card{
		display: block;
	}


	.main .content .card .left p {
		text-align: justify;
	}
}